@import url('https://fonts.googleapis.com/css?family=Albert+Sans&display=swap');

h1 {    
    font-family: 'Albert Sans';
    font-size: 48px;
    color: white;
    /* text-shadow: 1px 1px 3px rgb(0, 15, 45); */
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

p { 
    font-family: 'Helvetica'; 
    font-size: 12px; 
    color: white;
    text-shadow: 1px 1px 3px rgb(28, 29, 30);
}

body { margin:15px;padding:25px }

button {
    color: white;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.homepage{
    font-size: 24px;
    padding: 10px 15px;
    color:white;
    /* color: rgb(0, 15, 45); */
    /* color: rgb(255, 255, 255); */
    border-radius: 5px;
    /* text-shadow: 0px 0px 3px rgb(0, 15, 45); */
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.homepage:hover {
    /* text-shadow: 0px 0px 3px rgb(255, 255, 255); */
    text-shadow: 0px 0px 3px rgb(0, 15, 45);
}