@import url('https://fonts.googleapis.com/css?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Azeret+Mono&display=swap');

h1 {    
    font-family: 'Azeret Mono';
    font-size: 64px;
    color: white;
    /* text-shadow: 1px 1px 3px rgb(0, 15, 45); */
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

p { 
    font-family: 'Helvetica'; 
    font-size: 12px; 
    color: white;
    text-shadow: 1px 1px 3px rgb(28, 29, 30);
}

body { margin:25px;padding:15px }

button {
    color: white;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 14px 28px;
    font-size: 16px;
    font-family: Azeret Mono;
    cursor: pointer;
}

.homepage{
    font-size: 24px;
    padding: 10px 15px;
    color:white;
    border-radius: 5px;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.homepage:hover {
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
