@import url('https://fonts.googleapis.com/css?family=Azeret+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Albert+Sans&display=swap');

p { 
    font-family: 'Playfair Display SC'; 
    font-size: 12px;
}

.letter {
    width: 25px;
    height: 25px;
    background: url("../love_letters/closed.png") no-repeat;
    display: inline-block;
    filter: drop-shadow(1px 1px 3px black);
}
.letter:hover {
    background: url("../love_letters/open.png")  no-repeat;
    filter: drop-shadow(4px 4px 3px black);
}


button {
    color: white;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 14px 28px;
    font-size: 12px;
    font-family: Albert Sans;
    cursor: pointer;
}

.gohome {
    color: black;
    padding: 5px 10px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}