@import url('https://fonts.googleapis.com/css?family=Albert+Sans&display=swap');

p { font-family: 'Albert Sans'; }

h1 { font-family: 'Albert Sans'; }

button {
    color: white;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.homepage{
    color:blue
}

homepage:hover {
    background-color: rgba(255,255,255,0.5);
    color: white;
}

.arrow {
    color: black;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
}

.arrow:hover {
    background-color: black;
    color: white;
}

.loveletter {
    background: oldlace;
    /* border: 1px solid grey; */
    border-color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.loveletter:hover {
    background-color: mistyrose;
    color: white;
}